@import "tailwindcss";

@theme {
  --font-nunito: Nunito, serif;
  /* --color-primary: oklch(62.3% 0.214 259.815); */
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primary-hover: oklch(48.8% 0.243 264.376);
  /* --color-secondary: oklch(70.5% 0.213 47.604); */
  --color-secondary: oklch(64.6% 0.222 41.116);
  --color-text: oklch(0.21 0.0318 264.66);
}

:root {
  font-family: var(--font-nunito);
}
